* {
  box-sizing: border-box;
}

:root {
    --tableData: #dde0de;
    --textColor:#54c279;
    --bg:#d1ebdd;
}


:root[data-theme="dark-mode"] {
    --bg: #0d1210;
    --textColor: #a8cfb8;
    --tableData: #0f1a14;


}

